.best {
  display: flex;
  column-gap: 60px;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  padding-block: 115px;

  @include desktop {
    column-gap: 50px;
  }

  @include tablet {
    padding-inline: 0;
    padding-block: 50px;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: start;

    @include tablet {
      align-items: center;
      text-align: center;
      padding-block: 50px;
    }
  }

  &__paragraph {
    margin-block: 24px 40px;
    max-width: 618px;

    @include tablet {
      max-width: 600px;
    }
  }

  &__picture-wrapper {
    position: relative;
    width: 42%;
    aspect-ratio: 1.18;
    
    @include mobile {
      display: none;
    }
  }

  &__blob {
    position: absolute;
    top: -40%;
    left: -25%;
    width: 130%;
    aspect-ratio: 1;
    opacity: 0.4;
  
    background: radial-gradient(circle at center, var(--color-accent) 0%, transparent 75%);
  
    pointer-events: none;
  
    isolation: isolate;
    z-index: -100;
    
    @include tablet {
      width: 200%;
    }
  }

  &__picture {
    position: absolute;
    display: block; // <picture> is inline by default
    border-radius: 10px;
    overflow: hidden;
    
    &-1 {
      width: 40%;
      aspect-ratio: 0.6;
      top: 0;
      left: 0;

      @include tablet {
        width: 100%;
        transform: translateY(-50%);
        top: 50%;
      }
    }
    
    &-2 {
      width: 53%;
      aspect-ratio: 2;
      top: 0;
      right: 0;

      @include tablet {
        display: none;
      }
    }
    
    &-3 {
      width: 40%;
      aspect-ratio: 0.75;
      bottom: 0;
      right: 0;

      @include tablet {
        display: none;
      }
    }
  }
}