@font-face {
  font-family: 'Futura BT';
  src: url('/fonts/Futura\ Bk\ BT\ Book.woff2') format('woff2');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura BT';
  src: url('/fonts/FuturaExtraBlackCondensedItalicBT.woff2') format('woff2');
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura LT';
  src: url('/fonts/FuturaLT-CondensedLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura BT';
  src: url('/fonts/FuturaMediumBT.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}